.homepage-container {
    background-image: url('https://img.freepik.com/free-vector/gradient-comic-book-city-background_23-2151165965.jpg?t=st=1744590836~exp=1744594436~hmac=e8982bc955e97a691556e63e4ad0018041ec985da9d8f2900ca8b3fc9f77d879&w=2000');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh; 
    color: black; 
  }



